body {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Work Sans", sans-serif;
    text-align: center;
}

.container {
    margin-top: 50px;
}

.ranges {
    margin-bottom: 90px;
}

.ranges:last-child {
    margin-bottom: 0;
}

.ranges-item {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    padding: 20px;
}

.ranges-item__description {
    display: flex;
    justify-content: space-between;
}

.ranges-item__meaning {
    display: flex;
    justify-content: space-between;
}

.ranges input[type=range] {
    outline: 0;
    border: 0;
    border-radius: 500px;
    width: 600px;
    max-width: 100%;
    margin: 24px 0 16px;
    transition: box-shadow 0.2s ease-in-out;
    overflow: hidden;
    height: 40px;
    -webkit-appearance: none;
    background-color: #ddd;
}

.ranges input[type=range]::-webkit-slider-runnable-track {
    height: 40px;
    -webkit-appearance: none;
    color: #444;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
}

.ranges input[type=range]::-webkit-slider-thumb {
    width: 40px;
    -webkit-appearance: none;
    height: 40px;
    cursor: ew-resize;
    background: #fff;
    box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 40px #1597ff;
    border-radius: 50%;
    -webkit-transition: box-shadow 0.2s ease-in-out;
    transition: box-shadow 0.2s ease-in-out;
    position: relative;
}

.ranges input[type=range]::-webkit-slider-thumb {
    background: #fff;
    box-shadow: -340px 0 0 320px #1597ff, inset 0 0 0 3px #1597ff;
    cursor: pointer;
}


